In [3]:
from sqlalchemy import create_engine
url = 'postgres://postgres:adb@127.0.0.1:5432/adb_lab6'
db = create_engine(url)

In [4]:
from sqlalchemy import create_engine, MetaData, Table

metadata = MetaData()

dic_table = {}
for table_name in db.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=db)
    
print(repr(dic_table['category']))
print(dic_table['actor'].c)

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000017DB427A880>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000017DB427A940>, for_update=False)), schema=None)
['actor.actor_id', 'actor.first_name', 'actor.last_name', 'actor.last_update']

In [5]:
from sqlalchemy import select

# select * from category

mapper_stmt = select([dic_table['category']]).limit(10)
print('Mapper select: ')
print(mapper_stmt)

Mapper select:
SELECT category.category_id, category.name, category.last_update
FROM category
 LIMIT :param_1

In [6]:
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27)), (3, 'Children', datetime.datetime(2006, 2, 15, 9, 46, 27)), (4, 'Classics', datetime.datetime(2006, 2, 15, 9, 46, 27)), (5, 'Comedy', datetime.datetime(2006, 2, 15, 9, 46, 27)), (6, 'Documentary', datetime.datetime(2006, 2, 15, 9, 46, 27)), (7, 'Drama', datetime.datetime(2006, 2, 15, 9, 46, 27)), (8, 'Family', datetime.datetime(2006, 2, 15, 9, 46, 27)), (9, 'Foreign', datetime.datetime(2006, 2, 15, 9, 46, 27)), (10, 'Games', datetime.datetime(2006, 2, 15, 9, 46, 27))]

In [7]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name])
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[(1, 'Action'), (2, 'Animation'), (3, 'Children'), (4, 'Classics'), (5, 'Comedy'), (6, 'Documentary'), (7, 'Drama'), (8, 'Family'), (9, 'Foreign'), (10, 'Games'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

In [8]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).where(dic_table['category'].columns.name == 'Games')
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_stmt)
print(mapper_results)

SELECT category.category_id, category.name
FROM category
WHERE category.name = :name_1
[(10, 'Games')]

In [9]:
from sqlalchemy import or_, and_


mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).\
where(and_(\
            or_(dic_table['category'].columns.category_id > 10,dic_table['category'].columns.category_id < 2),\
            or_(dic_table['category'].columns.category_id > 3,dic_table['category'].columns.category_id < 5)))

mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_stmt)
print(mapper_results)

SELECT category.category_id, category.name
FROM category
WHERE (category.category_id > :category_id_1 OR category.category_id < :category_id_2) AND (category.category_id > :category_id_3 OR category.category_id < :category_id_4)
[(1, 'Action'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

In [10]:
#from sqlalchemy import in_
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).\
where(and_(\
            or_(dic_table['category'].columns.category_id > 10,dic_table['category'].columns.category_id < 2),\
            or_(dic_table['category'].columns.category_id > 3,dic_table['category'].columns.category_id < 5),\
      dic_table['category'].columns.name.in_(['Sci-Fi','Horror','Action'])
     ))
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_stmt)
print(mapper_results)

SELECT category.category_id, category.name
FROM category
WHERE (category.category_id > :category_id_1 OR category.category_id < :category_id_2) AND (category.category_id > :category_id_3 OR category.category_id < :category_id_4) AND category.name IN (:name_1, :name_2, :name_3)
[(1, 'Action'), (11, 'Horror'), (14, 'Sci-Fi')]

In [11]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).\
where(and_(\
            or_(dic_table['category'].columns.category_id > 10,dic_table['category'].columns.category_id < 2), \
            or_(dic_table['category'].columns.category_id > 3,dic_table['category'].columns.category_id < 5))).\
order_by(dic_table['category'].columns.name)

mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_stmt)
print(mapper_results)

SELECT category.category_id, category.name
FROM category
WHERE (category.category_id > :category_id_1 OR category.category_id < :category_id_2) AND (category.category_id > :category_id_3 OR category.category_id < :category_id_4) ORDER BY category.name
[(1, 'Action'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

In [12]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).\
where(and_(\
            or_(dic_table['category'].columns.category_id > 10,dic_table['category'].columns.category_id < 2), \
            or_(dic_table['category'].columns.category_id > 3,dic_table['category'].columns.category_id < 5))).\
order_by(dic_table['category'].columns.name.desc())

mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_stmt)
print(mapper_results)

SELECT category.category_id, category.name
FROM category
WHERE (category.category_id > :category_id_1 OR category.category_id < :category_id_2) AND (category.category_id > :category_id_3 OR category.category_id < :category_id_4) ORDER BY category.name DESC
[(16, 'Travel'), (15, 'Sports'), (14, 'Sci-Fi'), (13, 'New'), (12, 'Music'), (11, 'Horror'), (1, 'Action')]

In [13]:
mapper_stmt = select([dic_table['category'].columns.category_id.label('id'),dic_table['category'].columns.name.label('category name')])
print(mapper_stmt)

SELECT category.category_id AS id, category.name AS "category name"
FROM category

In [14]:
mapper_stmt = select([dic_table['category'].columns.category_id.label('id'),dic_table['category'].columns.name.label('category name')]).limit(3)
print(mapper_stmt)

SELECT category.category_id AS id, category.name AS "category name"
FROM category
 LIMIT :param_1

In [15]:
#exercises

In [16]:
#1 How many categories of films we have in the rental?

In [24]:
from sqlalchemy import func
mapper_stmt = select([func.count()]).select_from(dic_table['category'])
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_stmt)
print("Number of categories of films equals=", mapper_results[0][0])

495 µs ± 2.68 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
SELECT count(*) AS count_1
FROM category
Number of categories of films equals= Action

In [18]:
# second option

In [19]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey

session = (sessionmaker(bind=db))()

Base = declarative_base()

class Category(Base):
    __tablename__ = 'category'
    category_id  = Column(Integer, primary_key=True)
    name = Column(String(50))
    last_update  = Column(Date)
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}\nCategory last_update: {2}'.format(self.category_id,self.name,self.last_update)

In [25]:
%timeit session_stmt = session.query(Category.category_id).count()
print("Number of categories of films equals=", session_stmt)

1.14 ms ± 11.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Number of categories of films equals= 16

In [21]:
#2 Display list of categories in alphabetic order.

In [37]:
mapper_stmt = select([dic_table['category'].columns.name]).order_by(dic_table['category'].columns.name.asc())
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_stmt)
print("Categories in alphabetical order:")
for i in mapper_results:
    print(i[0])

318 µs ± 11.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
SELECT category.name
FROM category ORDER BY category.name ASC
Categories in alphabetical order:
Action
Animation
Children
Classics
Comedy
Documentary
Drama
Family
Foreign
Games
Horror
Music
New
Sci-Fi
Sports
Travel

In [42]:
#second option
session = (sessionmaker(bind=db))()
%timeit session_stmt = session.query(Category.name).order_by(Category.name)
print("Categories in alphabetical order:")
for i in session_stmt.all():
    print(i[0])

21.6 µs ± 94 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
Categories in alphabetical order:
Action
Animation
Children
Classics
Comedy
Documentary
Drama
Family
Foreign
Games
Horror
Music
New
Sci-Fi
Sports
Travel

In [23]:
#3 Find the oldest and youngest film in rental.

In [43]:
class Film(Base):
    __tablename__ = 'film'
    film_id  = Column(Integer, primary_key=True)
    title = Column(String(50))
    release_year  = Column(Integer)
    def __str__(self):
        return 'Film id:{0}\nFilm name: {1}\nFilm release_year: {2}'.format(self.film_id,self.title,self.release_year)

In [49]:
#oldest
mapper_stmt = select([dic_table['film'].columns.title]).order_by(dic_table['film'].columns.release_year.asc()).limit(1)
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
#print(mapper_results)
print("The oldest movie is: ", mapper_results[0][0])

485 µs ± 9.77 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
The oldest movie is:  Chamber Italian

In [57]:
#second option
session = (sessionmaker(bind=db))()
%timeit session_stmt = session.query(Film).order_by(Film.release_year.asc()).limit(1)
print("The oldest movie is: ", session_stmt.all()[0][1])

40.6 µs ± 648 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
The oldest movie is:  Chamber Italian

In [58]:
#newest
mapper_stmt = select([dic_table['film'].columns.title]).order_by(dic_table['film'].columns.release_year.desc()).limit(1)
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
#print(mapper_results)
print("The oldest movie is: ", mapper_results[0][0])

906 µs ± 1.86 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
The oldest movie is:  Chamber Italian

In [59]:
#second option
session = (sessionmaker(bind=db))()
%timeit session_stmt = session.query(Film).order_by(Film.release_year.desc()).limit(1)
print("The oldest movie is: ", session_stmt.all()[0][1])

40.6 µs ± 297 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
The oldest movie is:  Chamber Italian

In [79]:
#4 How many rentals were in between 2005-07-01 and 2005-08-01?
class Rental(Base):
    __tablename__ = 'rental'
    rental_id  = Column(Integer, primary_key=True)
    rental_date = Column(Date)
    return_date  = Column(Date)
    inventory_id = Column(Integer)
    def __str__(self):
        return 'Rental id:{0}\nStart date: {1}\nReturn date: {2}'.format(self.rental_id,self.rental_date,self.return_date)

d:\python3.8\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:125: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Rental, and will be replaced in the string-lookup table.
  util.warn(

InvalidRequestError: Table 'rental' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [80]:
mapper_stmt = select([dic_table['rental'].columns.rental_date]).\
                        where(and_(dic_table['rental'].columns.rental_date > '2005-07-01',\
                                   dic_table['rental'].columns.rental_date < '2005-08-01'))
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
#print(mapper_results)
print("Number of movies: ", len(mapper_results))

6.86 ms ± 335 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Number of movies:  6709

In [84]:
#second option
session = (sessionmaker(bind=db))()
%timeit session_stmt = session.query(Rental).filter(and_(Rental.rental_date > '2005-07-01', Rental.rental_date < '2005-08-01')).count()
print("Number of movies: ", session_stmt)

1.98 ms ± 19.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Number of movies:  6709

In [88]:
#5 How many rentals were in between 2010-01-01 and 2011-02-01?
mapper_stmt = select([dic_table['rental'].columns.rental_date]).\
                        where(and_(dic_table['rental'].columns.rental_date > '2010-01-01',\
                                   dic_table['rental'].columns.rental_date < '2011-02-01'))
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
#print(mapper_results)
print("Number of movies: ", len(mapper_results))

359 µs ± 12.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Number of movies:  0

In [90]:
#second option
session = (sessionmaker(bind=db))()
%timeit session_stmt = session.query(Rental).filter(and_(Rental.rental_date > '2010-01-01', Rental.rental_date < '2011-02-01')).count()
print("Number of movies: ", session_stmt)

1.06 ms ± 32.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Number of movies:  0

In [93]:
#6 Find the biggest payment in the rental.
from sqlalchemy import Float
class Payment(Base):
    __tablename__ = 'payment'
    payment_id = Column(Integer, primary_key = True)
    amount = Column(Float)
    def __str__(self):
        return 'Payment id:{0}\nAmount: {1}'.format(self.payment_id,self.amount)

d:\python3.8\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:125: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Payment, and will be replaced in the string-lookup table.
  util.warn(

InvalidRequestError: Table 'payment' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [113]:
#biggest payment
mapper_stmt = select([dic_table['payment'].columns.amount]).order_by(dic_table['payment'].columns.amount.desc()).limit(1)
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
#print(mapper_results)
print("The biggest payment is: ", mapper_results[0][0])

4.18 ms ± 20.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
The biggest payment is:  Johnnie

In [114]:
#second option

session = (sessionmaker(bind=db))()
%timeit session_stmt = session.query(Payment.amount).order_by(Payment.amount.desc()).limit(1)
print("The biggest payment is: ", session_stmt.all()[0][0])

48.5 µs ± 4.38 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
The biggest payment is:  11.99

In [116]:
#7 Find all customers from Polend or Nigeria or Bangladesh.
mapper_stmt = select([dic_table['customer'].columns.first_name,dic_table['customer'].columns.last_name])\
                .where(dic_table['customer'].columns.address_id.in_(select([dic_table['address'].columns.address_id])\
                  .where(dic_table['address'].columns.city_id.in_(select([dic_table['city'].columns.city_id])\
                    .where(dic_table['city'].columns.country_id.in_(select([dic_table['country'].columns.country_id])\
                      .where(dic_table['country'].columns.country.in_(['Poland','Nigeria','Bangladesh']) )))))))
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
#print(mapper_results)
print("customers from Polend or Nigeria or Bangladesh: ")
for i in mapper_results:
    print(i[0], i[1])

1.07 ms ± 18.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
customers from Polend or Nigeria or Bangladesh:
Johnnie Chisholm
Wallace Slone
Bertha Ferguson
Russell Brinson
Michelle Clark
Brian Wyman
Tracey Barrett
Stephen Qualls
Ruben Geary
Constance Reid
Carol Garcia
Elsie Kelley
Sonia Gregory
Leah Curtis
Marjorie Tucker
Rodney Moeller
Velma Lucas
Sidney Burleson
Gladys Hamilton
Frank Waggoner
Marilyn Ross
Jimmie Eggleston
Jo Fowler
Olga Jimenez

In [118]:
class Customer(Base):
    __tablename__ = 'customer'
    customer_id = Column(Integer, primary_key = True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    address_id = Column(Integer)

class Address(Base):
    __tablename__ = 'address'
    address_id = Column(Integer, primary_key = True)
    address = Column(String(50))
    city_id = Column(Integer)

class City(Base):
    __tablename__ = 'city'
    city_id = Column(Integer, primary_key = True)
    city = Column(String(50))
    country_id = Column(String(50))
    
class Country(Base):
    __tablename__ = 'country'
    country_id = Column(Integer, primary_key = True)
    country = Column(String(50))

In [120]:
#second option
session = (sessionmaker(bind=db))()
%timeit session_stmt = session.query(Customer.first_name, Customer.last_name)\
                .filter(Customer.address_id.in_(session.query(Address.address_id)\
                    .filter(Address.city_id.in_(session.query(City.city_id)\
                        .filter(City.country_id.in_(session.query(Country.country_id)\
                            .filter(Country.country.in_(['Poland', 'Nigeria', 'Bangladesh']))))))))

print("Customers from Polend or Nigeria or Bangladesh: ")
for i in session_stmt.all():
    print(i[0], i[1])

242 µs ± 4.89 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Customers from Polend or Nigeria or Bangladesh:
Johnnie Chisholm
Wallace Slone
Bertha Ferguson
Russell Brinson
Michelle Clark
Brian Wyman
Tracey Barrett
Stephen Qualls
Ruben Geary
Constance Reid
Carol Garcia
Elsie Kelley
Sonia Gregory
Leah Curtis
Marjorie Tucker
Rodney Moeller
Velma Lucas
Sidney Burleson
Gladys Hamilton
Frank Waggoner
Marilyn Ross
Jimmie Eggleston
Jo Fowler
Olga Jimenez

In [121]:
#8 Where live staff memebers?
class Staff(Base):
    __tablename__ = 'staff'
    staff_id = Column(Integer, primary_key = True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    address_id = Column(Integer)

class Address(Base):
    __tablename__ = 'address'
    address_id = Column(Integer, primary_key = True)
    address = Column(String(50))
    city_id = Column(Integer)

d:\python3.8\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:125: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Address, and will be replaced in the string-lookup table.
  util.warn(

InvalidRequestError: Table 'address' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [126]:
mapper_stmt = select([dic_table['address'].columns.address])\
                .where(dic_table['staff'].columns.address_id == dic_table['address'].columns.address_id)
%timeit mapper_results = db.execute(mapper_stmt).fetchall()
for i in mapper_results:
    print(i[0])

624 µs ± 2.93 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
23 Workhaven Lane
1411 Lillydale Drive

In [128]:
session_stmt = session.query(Address.address)\
                .filter(Staff.address_id == Address.address_id)
%timeit session_results = session_stmt.all()
for i in session_results:
    print(i[0])

401 µs ± 15.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
23 Workhaven Lane
1411 Lillydale Drive

In [ ]:
#9 How many staff members live in Argentina or Spain?