In [1]:
from sqlalchemy import create_engine

db_string = 'postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb'

db = create_engine(db_string)

In [2]:
from sqlalchemy import create_engine, MetaData, Table

print(db.table_names())

metadata = MetaData()

table = Table(db.table_names()[0], metadata , autoload=True, autoload_with=db)

print(repr(table))

print(table.columns.keys())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']
Table('staff', MetaData(bind=None), Column('staff_id', INTEGER(), table=<staff>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000020ECFA64DC0>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('last_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('address_id', SMALLINT(), ForeignKey('address.address_id'), table=<staff>, nullable=False), Column('email', VARCHAR(length=50), table=<staff>), Column('store_id', SMALLINT(), table=<staff>, nullable=False), Column('active', BOOLEAN(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000020ECFA64BB0>, for_update=False)), Column('username', VARCHAR(length=16), table=<staff>, nullable=False), Column('password', VARCHAR(length=40), table=<staff>), Column('last_update', TIMESTAMP(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000020ECFA97220>, for_update=False)), Column('picture', BYTEA(), table=<staff>), schema=None)
['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']

In [3]:
stmt = 'select * from staff'

# Execute the statement and fetch the results
results = db.execute(stmt).fetchall()

# Print results
print(results)

[(1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), <memory at 0x0000020ECFA3B880>), (2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None)]

In [4]:
from sqlalchemy import select

stmt = select([table])

# Print the SQL query string
print(stmt)

# Execute the statement and fetch with limit the results 
results = db.execute(stmt).fetchmany(size=10)
print(results)

SELECT staff.staff_id, staff.first_name, staff.last_name, staff.address_id, staff.email, staff.store_id, staff.active, staff.username, staff.password, staff.last_update, staff.picture
FROM staff
[(1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), b'\x89PNG\r\nZ\n'), (2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None)]

In [5]:
print(results[1])

(2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None)

In [6]:
stmt = select([table])

# Add a where clause to filter the results
stmt = stmt.where(table.columns.staff_id == 1)

# Execute the query to retrieve all the data returned: results
results = db.execute(stmt).fetchall()

# Loop over the results and print the age and name
for result in results:
   print(result.first_name, result.last_name)

Mike Hillyer

In [7]:
#1
from sqlalchemy import create_engine

db_string = 'postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb'

db = create_engine(db_string)

In [8]:
#2
from sqlalchemy import create_engine, MetaData, Table

#staff
metadata = MetaData()

staff = Table('staff', metadata , autoload=True, autoload_with=db)

print(staff.columns.keys())

['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']

In [9]:
country = Table('country', metadata , autoload=True, autoload_with=db)

print(country.columns.keys())

['country_id', 'country', 'last_update']

In [10]:
for c in country.columns.keys():
    for s in staff.columns.keys():
        if c == s:
            print(c)

last_update

In [11]:
stmt = select([staff, country])

for i, row in enumerate(db.execute(stmt).fetchmany(size=5)):
    print(i,": ", row)

0 :  (1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), b'\x89PNG\r\nZ\n', 1, 'Afghanistan', datetime.datetime(2006, 2, 15, 9, 44))
1 :  (2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None, 1, 'Afghanistan', datetime.datetime(2006, 2, 15, 9, 44))
2 :  (1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), b'\x89PNG\r\nZ\n', 2, 'Algeria', datetime.datetime(2006, 2, 15, 9, 44))
3 :  (2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None, 2, 'Algeria', datetime.datetime(2006, 2, 15, 9, 44))
4 :  (1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), b'\x89PNG\r\nZ\n', 3, 'American Samoa', datetime.datetime(2006, 2, 15, 9, 44))

In [12]:
stmt = select([staff, country]).where(staff.c.last_update > country.c.last_update)
for i, row in enumerate(db.execute(stmt).fetchmany(size=5)):
    print(i,": ", row)

0 :  (1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), b'\x89PNG\r\nZ\n', 1, 'Afghanistan', datetime.datetime(2006, 2, 15, 9, 44))
1 :  (2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None, 1, 'Afghanistan', datetime.datetime(2006, 2, 15, 9, 44))
2 :  (1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), b'\x89PNG\r\nZ\n', 2, 'Algeria', datetime.datetime(2006, 2, 15, 9, 44))
3 :  (2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None, 2, 'Algeria', datetime.datetime(2006, 2, 15, 9, 44))
4 :  (1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), b'\x89PNG\r\nZ\n', 3, 'American Samoa', datetime.datetime(2006, 2, 15, 9, 44))

In [15]:
from sqlalchemy import and_
staff = Table('staff', metadata , autoload=True, autoload_with=db)
address = Table('address', metadata , autoload=True, autoload_with=db)
city = Table('city', metadata , autoload=True, autoload_with=db)
country = Table('country', metadata , autoload=True, autoload_with=db)

stmt = select([staff.c.first_name, staff.c.last_name, country.c.country]).where(and_(staff.c.address_id == address.c.address_id,
                                                                                    address.c.city_id == city.c.city_id,
                                                                                    city.c.country_id == country.c.country_id))
results = db.execute(stmt).fetchall()

# Print results
print(results)

[('Mike', 'Hillyer', 'Canada'), ('Jon', 'Stephens', 'Australia')]

In [18]:
actor= Table('actor', metadata , autoload=True, autoload_with=db)
language= Table('language', metadata , autoload=True, autoload_with=db)
film= Table('film', metadata , autoload=True, autoload_with=db)
print(actor.columns.keys())
print(language.columns.keys())
print(film.columns.keys())

['actor_id', 'first_name', 'last_name', 'last_update']
['language_id', 'name', 'last_update']
['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']

In [19]:
for a in actor.columns.keys():
    for l in language.columns.keys():
        for f in film.columns.keys():
            if f == l and l == a:
                print(f)

last_update

In [20]:
stmt = select([actor, language, film]).limit(5)

for i, row in enumerate(db.execute(stmt).fetchall()):
    print(i,": ", row)

0 :  (1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000), 1, 'English             ', datetime.datetime(2006, 2, 15, 10, 2, 19), 133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5")
1 :  (1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000), 1, 'English             ', datetime.datetime(2006, 2, 15, 10, 2, 19), 384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2")
2 :  (1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000), 1, 'English             ', datetime.datetime(2006, 2, 15, 10, 2, 19), 8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5")
3 :  (1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000), 1, 'English             ', datetime.datetime(2006, 2, 15, 10, 2, 19), 98, 'Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5")
4 :  (1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000), 1, 'English             ', datetime.datetime(2006, 2, 15, 10, 2, 19), 1, 'Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")

In [21]:
stmt = select([actor, language, film]).where(actor.c.last_update < language.c.last_update)
for i, row in enumerate(db.execute(stmt).fetchall()):
    print(i,": ", row)

In [22]:
actor = Table('actor', metadata , autoload=True, autoload_with=db)
film_actor = Table('film_actor', metadata , autoload=True, autoload_with=db)
film = Table('film', metadata , autoload=True, autoload_with=db)
language = Table('language', metadata , autoload=True, autoload_with=db)

stmt = select([actor.c.first_name, actor.c.last_name, film.c.title, language.c.name]).where(and_(actor.c.actor_id == film_actor.c.actor_id,
                                                                                    film_actor.c.film_id == film.c.film_id,
                                                                                    film.c.language_id == language.c.language_id)).distinct(actor.c.last_name)
results = db.execute(stmt).fetchall()
for i in results:
    print(i)

('Kirsten', 'Akroyd', 'Bugsy Song', 'English             ')
('Meryl', 'Allen', 'Clue Grail', 'English             ')
('Angelina', 'Astaire', 'Wardrobe Phantom', 'English             ')
('Russell', 'Bacall', 'Movie Shakespeare', 'English             ')
('Audrey', 'Bailey', 'Masked Bubble', 'English             ')
('Harrison', 'Bale', 'Wyoming Storm', 'English             ')
('Renee', 'Ball', 'Bingo Talented', 'English             ')
('Julia', 'Barrymore', 'Lambs Cincinatti', 'English             ')
('Vivien', 'Basinger', 'Apocalypse Flamingos', 'English             ')
('Scarlett', 'Bening', 'Durham Panky', 'English             ')
('Vivien', 'Bergen', 'Hills Neighbors', 'English             ')
('Liza', 'Bergman', 'Paris Weekend', 'English             ')
('Karl', 'Berry', 'Telemark Heartbreakers', 'English             ')
('Cuba', 'Birch', 'Dynamite Tarzan', 'English             ')
('Kevin', 'Bloom', 'Double Wrath', 'English             ')
('Michael', 'Bolger', 'Glass Dying', 'English             ')
('Chris', 'Bridges', 'Odds Boogie', 'English             ')
('Goldie', 'Brody', 'Pride Alamo', 'English             ')
('Laurence', 'Bullock', 'Kick Savannah', 'English             ')
('Johnny', 'Cage', 'Roxanne Rebel', 'English             ')
('Matthew', 'Carrey', 'Blues Instinct', 'English             ')
('Greg', 'Chaplin', 'Liberty Magnificent', 'English             ')
('Jon', 'Chase', 'Spice Sorority', 'English             ')
('Russell', 'Close', 'License Weekend', 'English             ')
('Fred', 'Costner', 'Eagles Panky', 'English             ')
('Rip', 'Crawford', 'Chocolat Harry', 'English             ')
('Anne', 'Cronyn', 'Dragon Squad', 'English             ')
('Sidney', 'Crowe', 'Finding Anaconda', 'English             ')
('Jude', 'Cruise', 'Open African', 'English             ')
('Ralph', 'Cruz', 'Witches Panic', 'English             ')
('Scarlett', 'Damon', 'Potluck Mixed', 'English             ')
('Susan', 'Davis', 'Full Flatliners', 'English             ')
('Frances', 'Day-Lewis', 'Untouchables Sunrise', 'English             ')
('Judy', 'Dean', 'Quest Mussolini', 'English             ')
('Lucille', 'Dee', 'Working Microcosmos', 'English             ')
('Jodie', 'Degeneres', 'Pickup Driving', 'English             ')
('Julianne', 'Dench', 'Karate Moon', 'English             ')
('Chris', 'Depp', 'Side Ark', 'English             ')
('Sylvester', 'Dern', 'Birds Perdition', 'English             ')
('Alan', 'Dreyfuss', 'Badman Dawn', 'English             ')
('Rock', 'Dukakis', 'Seabiscuit Punk', 'English             ')
('Groucho', 'Dunst', 'Sensibility Rear', 'English             ')
('Bob', 'Fawcett', 'Lawless Vision', 'English             ')
('Christian', 'Gable', 'Wedding Apollo', 'English             ')
('Al', 'Garland', 'Drifter Commandments', 'English             ')
('Meryl', 'Gibson', 'Hanging Deep', 'English             ')
('Parker', 'Goldberg', 'Spirit Flintstones', 'English             ')
('Ewan', 'Gooding', 'Mermaid Insects', 'English             ')
('Adam', 'Grant', 'Wanda Chamber', 'English             ')
('Ed', 'Guiness', 'Center Dinosaur', 'English             ')
('Tim', 'Hackman', 'Wizard Coldblooded', 'English             ')
('Ben', 'Harris', 'Tourist Pelican', 'English             ')
('Meg', 'Hawke', 'Voyage Legally', 'English             ')
('Geoffrey', 'Heston', 'Patton Interview', 'English             ')
('Woody', 'Hoffman', 'Spice Sorority', 'English             ')
('Harvey', 'Hope', 'Random Go', 'English             ')
('Natalie', 'Hopkins', 'Torque Bound', 'English             ')
('Adam', 'Hopper', 'Clerks Angels', 'English             ')
('Angela', 'Hudson', 'Jason Trap', 'English             ')
('Carmen', 'Hunt', 'Hawk Chill', 'English             ')
('Whoopi', 'Hurt', 'Spy Mile', 'English             ')
('Warren', 'Jackman', 'Ship Wonderland', 'English             ')
('Albert', 'Johansson', 'Express Lonely', 'English             ')
('Woody', 'Jolie', 'Crazy Home', 'English             ')
('Kirk', 'Jovovich', 'Borrowers Bedazzled', 'English             ')
('Greta', 'Keitel', 'Hoosiers Birdcage', 'English             ')
('Reese', 'Kilmer', 'Lambs Cincinatti', 'English             ')
('Matthew', 'Leigh', 'Canyon Stock', 'English             ')
('Johnny', 'Lollobrigida', 'Enough Raging', 'English             ')
('Greta', 'Malden', 'Fantasy Troopers', 'English             ')
('Ed', 'Mansfield', 'Pluto Oleander', 'English             ')
('Elvis', 'Marx', 'Outlaw Hanky', 'English             ')
('Cary', 'Mcconaughey', 'Ali Forever', 'English             ')
('Morgan', 'Mcdormand', 'Fatal Haunted', 'English             ')
('Tom', 'Mckellen', 'Spice Sorority', 'English             ')
('Julia', 'Mcqueen', 'Hanover Galaxy', 'English             ')
('Tom', 'Miranda', 'Rainbow Shock', 'English             ')
('Lisa', 'Monroe', 'Anything Savannah', 'English             ')
('Grace', 'Mostel', 'Sleepless Monsoon', 'English             ')
('Christian', 'Neeson', 'Lover Truman', 'English             ')
('Bette', 'Nicholson', 'Coast Rainbow', 'English             ')
('Warren', 'Nolte', 'Lesson Cleopatra', 'English             ')
('Cuba', 'Olivier', 'Theory Mermaid', 'English             ')
('Kirsten', 'Paltrow', 'Sleeping Suspects', 'English             ')
('Milla', 'Peck', 'Seattle Expecations', 'English             ')
('Richard', 'Penn', 'Vampire Whale', 'English             ')
('Kenneth', 'Pesci', 'Affair Prejudice', 'English             ')
('Olympia', 'Pfeiffer', 'Mars Roman', 'English             ')
('Gary', 'Phoenix', 'Bedazzled Married', 'English             ')
('Penelope', 'Pinkett', 'Excitement Eve', 'English             ')
('James', 'Pitt', 'Innocent Usual', 'English             ')
('Burt', 'Posey', 'Hysterical Grail', 'English             ')
('Ellen', 'Presley', 'Network Peak', 'English             ')
('Rita', 'Reynolds', 'Gentlemen Stage', 'English             ')
('Jada', 'Ryder', 'Aladdin Calendar', 'English             ')
('Jayne', 'Silverstone', 'Gleaming Jawbreaker', 'English             ')
('Groucho', 'Sinatra', 'Dude Blindness', 'English             ')
('Sissy', 'Sobieski', 'Crazy Home', 'English             ')
('Nick', 'Stallone', 'Doom Dancing', 'English             ')
('Cameron', 'Streep', 'Freedom Cleopatra', 'English             ')
('John', 'Suvari', 'Quills Bull', 'English             ')
('Joe', 'Swank', 'Untouchables Sunrise', 'English             ')
('Ian', 'Tandy', 'Citizen Shrek', 'English             ')
('Dustin', 'Tautou', 'Villain Desperate', 'English             ')
('Thora', 'Temple', 'African Egg', 'English             ')
('Frances', 'Tomei', 'Gorgeous Bingo', 'English             ')
('Kenneth', 'Torn', 'Volume House', 'English             ')
('Renee', 'Tracy', 'Shawshank Bubble', 'English             ')
('Helen', 'Voight', 'Fidelity Devil', 'English             ')
('Daryl', 'Wahlberg', 'Family Sweet', 'English             ')
('Bela', 'Walken', 'Fantasy Troopers', 'English             ')
('Alec', 'Wayne', 'Smoking Barbarella', 'English             ')
('Christopher', 'West', 'Young Language', 'English             ')
('Morgan', 'Williams', 'Punk Divorce', 'English             ')
('Ben', 'Willis', 'Badman Dawn', 'English             ')
('Will', 'Wilson', 'Mourning Purple', 'English             ')
('Rip', 'Winslet', 'Gilbert Pelican', 'English             ')
('Angela', 'Witherspoon', 'Bull Shawshank', 'English             ')
('Fay', 'Wood', 'Seattle Expecations', 'English             ')
('Cameron', 'Wray', 'Champion Flatliners', 'English             ')
('Minnie', 'Zellweger', 'Mannequin Worst', 'English             ')

In [31]:
#3
rental = Table('rental', metadata , autoload=True, autoload_with=db)
inventory = Table('inventory', metadata , autoload=True, autoload_with=db)
film = Table('film', metadata , autoload=True, autoload_with=db)
film_category = Table('film_category', metadata , autoload=True, autoload_with=db)
category = Table('category', metadata , autoload=True, autoload_with=db)
new = rental.join(inventory) 
new = new.join(film)
new = new.join(film_category)
new = new.join(category)
stmt = select([new]).distinct(film_category.c.category_id)

results = db.execute(stmt).fetchall()
for i in results:
    print(i.name)
print(len(results))

# other way
stmt = select([category.c.name]).where(and_(rental.c.inventory_id == inventory.c.inventory_id, 
                                            inventory.c.film_id == film.c.film_id, film.c.film_id == film_category.c.film_id,
                                            film_category.c.category_id == category.c.category_id)).distinct(film_category.c.category_id)

results = db.execute(stmt).fetchall()
print(results)
print(len(results))

Action
Animation
Children
Classics
Comedy
Documentary
Drama
Family
Foreign
Games
Horror
Music
New
Sci-Fi
Sports
Travel
16
[('Action',), ('Animation',), ('Children',), ('Classics',), ('Comedy',), ('Documentary',), ('Drama',), ('Family',), ('Foreign',), ('Games',), ('Horror',), ('Music',), ('New',), ('Sci-Fi',), ('Sports',), ('Travel',)]
16

In [20]:
#4
category = Table('category', metadata , autoload=True, autoload_with=db)
stmt = select([category])

results = db.execute(stmt).fetchmany(size=2)
print(results)

[(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))]

In [135]:
#5
from sqlalchemy import asc, desc
film = Table('film', metadata , autoload=True, autoload_with=db)
stmt = select([film])
'''result = db.engine.execute('select title, release_year from film order by release_year desc limit 1')
print([row for row in result])
result = db.engine.execute('select title, release_year from film order by release_year asc limit 1')
print([row for row in result])'''
# latest
stmt = stmt.order_by(desc(film.c.release_year)).limit(1)
results = db.execute(stmt).fetchall()
for result in results:
   print("Youngest: ",result.title, result.release_year)
# oldest
stmt = stmt.order_by(asc(film.c.release_year)).limit(1)
results = db.execute(stmt).fetchall()
for result in results:
   print("Oldest: ", result.title, result.release_year)

Youngest:  Chamber Italian 2006
Oldest:  Chamber Italian 2006

In [151]:
#6
actor = Table('actor', metadata , autoload=True, autoload_with=db)
stmt = select([actor])

In [158]:
from sqlalchemy import or_
stmt = stmt.where(or_(actor.c.first_name == 'Olympia', actor.c.first_name == 'Julia', actor.c.first_name == 'Ellen'))
results = db.execute(stmt).fetchall()
for result in results:
   print(result)

(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))

In [155]:
#checking
actor = Table('actor', metadata , autoload=True, autoload_with=db)
stmt = select([actor])
stmt = stmt.order_by(actor.c.first_name)
results = db.execute(stmt).fetchall()
for result in results:
   print(result)

(132, 'Adam', 'Hopper', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(71, 'Adam', 'Grant', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(165, 'Al', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(173, 'Alan', 'Dreyfuss', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(146, 'Albert', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(125, 'Albert', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(29, 'Alec', 'Wayne', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(65, 'Angela', 'Hudson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(144, 'Angela', 'Witherspoon', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(76, 'Angelina', 'Astaire', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(49, 'Anne', 'Cronyn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(34, 'Audrey', 'Olivier', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(190, 'Audrey', 'Bailey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(196, 'Bela', 'Walken', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(152, 'Ben', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(83, 'Ben', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(6, 'Bette', 'Nicholson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(19, 'Bob', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(36, 'Burt', 'Dukakis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(75, 'Burt', 'Posey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(193, 'Burt', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(63, 'Cameron', 'Wray', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(24, 'Cameron', 'Streep', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(111, 'Cameron', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(52, 'Carmen', 'Hunt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(77, 'Cary', 'Mcconaughey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(128, 'Cate', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(141, 'Cate', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(89, 'Charlize', 'Dench', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(160, 'Chris', 'Depp', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(98, 'Chris', 'Bridges', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(10, 'Christian', 'Gable', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(61, 'Christian', 'Neeson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(58, 'Christian', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(163, 'Christopher', 'West', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(91, 'Christopher', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(189, 'Cuba', 'Birch', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(15, 'Cuba', 'Olivier', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(118, 'Cuba', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(56, 'Dan', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(18, 'Dan', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(116, 'Dan', 'Streep', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(129, 'Daryl', 'Crawford', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(95, 'Daryl', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(182, 'Debbie', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(59, 'Dustin', 'Tautou', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(179, 'Ed', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(136, 'Ed', 'Mansfield', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(22, 'Elvis', 'Marx', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(148, 'Emily', 'Dee', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(139, 'Ewan', 'Gooding', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(156, 'Fay', 'Wood', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(55, 'Fay', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(147, 'Fay', 'Winslet', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(126, 'Frances', 'Tomei', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(48, 'Frances', 'Day-Lewis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(16, 'Fred', 'Costner', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(73, 'Gary', 'Penn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(51, 'Gary', 'Phoenix', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(177, 'Gene', 'Mckellen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(134, 'Gene', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(96, 'Gene', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(151, 'Geoffrey', 'Heston', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(107, 'Gina', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(39, 'Goldie', 'Brody', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(7, 'Grace', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(86, 'Greg', 'Chaplin', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(191, 'Gregory', 'Gooding', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(157, 'Greta', 'Malden', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(130, 'Greta', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(172, 'Groucho', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(106, 'Groucho', 'Dunst', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(78, 'Groucho', 'Sinatra', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(115, 'Harrison', 'Bale', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(161, 'Harvey', 'Hope', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(17, 'Helen', 'Voight', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(60, 'Henry', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(164, 'Humphrey', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(184, 'Humphrey', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(155, 'Ian', 'Tandy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(142, 'Jada', 'Ryder', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(84, 'James', 'Pitt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(131, 'Jane', 'Jackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(150, 'Jayne', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(195, 'Jayne', 'Silverstone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(62, 'Jayne', 'Neeson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(180, 'Jeff', 'Silverstone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(67, 'Jessica', 'Bailey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(99, 'Jim', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(41, 'Jodie', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(9, 'Joe', 'Swank', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(192, 'John', 'Suvari', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(5, 'Johnny', 'Lollobrigida', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(40, 'Johnny', 'Cage', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(176, 'Jon', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(57, 'Jude', 'Cruise', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(35, 'Judy', 'Dean', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(123, 'Julianne', 'Dench', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(12, 'Karl', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(88, 'Kenneth', 'Pesci', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(169, 'Kenneth', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(94, 'Kenneth', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(69, 'Kenneth', 'Paltrow', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(25, 'Kevin', 'Bloom', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(127, 'Kevin', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(145, 'Kim', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(43, 'Kirk', 'Jovovich', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(21, 'Kirsten', 'Paltrow', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(92, 'Kirsten', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(159, 'Laura', 'Brody', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(167, 'Laurence', 'Bullock', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(178, 'Lisa', 'Monroe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(121, 'Liza', 'Bergman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(20, 'Lucille', 'Tracy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(138, 'Lucille', 'Dee', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(79, 'Mae', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(198, 'Mary', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(66, 'Mary', 'Tandy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(103, 'Matthew', 'Leigh', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(8, 'Matthew', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(181, 'Matthew', 'Carrey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(97, 'Meg', 'Hawke', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(53, 'Mena', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(170, 'Mena', 'Hopper', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(154, 'Meryl', 'Gibson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(194, 'Meryl', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(174, 'Michael', 'Bening', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(185, 'Michael', 'Bolger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(70, 'Michelle', 'Mcconaughey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(33, 'Milla', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(74, 'Milla', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(85, 'Minnie', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(153, 'Minnie', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(113, 'Morgan', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(114, 'Morgan', 'Mcdormand', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(137, 'Morgan', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(50, 'Natalie', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(44, 'Nick', 'Stallone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(166, 'Nick', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(162, 'Oprah', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(46, 'Parker', 'Goldberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(54, 'Penelope', 'Pinkett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(104, 'Penelope', 'Cronyn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(120, 'Penelope', 'Monroe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(80, 'Ralph', 'Cruz', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(64, 'Ray', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(197, 'Reese', 'West', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(45, 'Reese', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(187, 'Renee', 'Ball', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(117, 'Renee', 'Tracy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(133, 'Richard', 'Penn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(26, 'Rip', 'Crawford', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(68, 'Rip', 'Winslet', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(135, 'Rita', 'Reynolds', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(143, 'River', 'Dean', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(188, 'Rock', 'Dukakis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(112, 'Russell', 'Bacall', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(183, 'Russell', 'Close', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(149, 'Russell', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(122, 'Salma', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(23, 'Sandra', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(30, 'Sandra', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(124, 'Scarlett', 'Bening', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(81, 'Scarlett', 'Damon', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(72, 'Sean', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(90, 'Sean', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(105, 'Sidney', 'Crowe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(31, 'Sissy', 'Sobieski', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(100, 'Spencer', 'Depp', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(87, 'Spencer', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(110, 'Susan', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(101, 'Susan', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(109, 'Sylvester', 'Dern', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(200, 'Thora', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(32, 'Tim', 'Hackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(42, 'Tom', 'Miranda', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(38, 'Tom', 'Mckellen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(13, 'Uma', 'Wood', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(37, 'Val', 'Bolger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(158, 'Vivien', 'Basinger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(14, 'Vivien', 'Bergen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(102, 'Walter', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(108, 'Warren', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(119, 'Warren', 'Jackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(140, 'Whoopi', 'Hurt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(168, 'Will', 'Wilson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(175, 'William', 'Hackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(28, 'Woody', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(82, 'Woody', 'Jolie', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(11, 'Zero', 'Cage', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))